<footer class="footer" id="contact">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" style="background-color: aliceblue;"  href="https://www.facebook.com/nirodha.malalagama.1/" target="_blank">
        <fa-icon class="fa fa-facebook fa-2x "[icon]="faFacebook"></fa-icon>
      </a>&nbsp;&nbsp;
      <a class="cc-instagram btn btn-link" style="background-color: aliceblue;"  href="https://www.instagram.com/nirodhach/" target="_blank">
        <fa-icon class="fa fa-instagram fa-2x "[icon]="faInstagram"></fa-icon>
      </a>&nbsp;&nbsp;
      <a class="cc-linkend btn btn-link " style="background-color: aliceblue;" href="https://www.linkedin.com/in/nirodha-chathuri/" target="_blank">
        <fa-icon class="fa fa-linkedin fa-2x" [icon]="faLinkedin"></fa-icon>
      </a>&nbsp;&nbsp;


      <a class="cc-github btn btn-link " style="background-color: aliceblue;" href="https://github.com/Nirodhachathuri" target="_blank">
        <fa-icon class="fa fa-github fa-2x " [icon]="faGithub"></fa-icon>
      </a>&nbsp;&nbsp;
      <!-- <a class="cc-google-plus btn btn-link" href="#" target="_blank">
        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
      </a> -->
    </div><br>
    <div class="text-center text-muted" style="font-family: 'Gilroy'; font-size: medium; color: rgb(167, 162, 162); font-size: 20px; font-weight: bold;">
      <p style="color: white;">&copy; All rights reserved.
      </p>
    </div>
  </footer>
