<div id="research" class="h4 text-center mb-4 title"
    style="margin-top: 100px; font-family: 'Gilroy'; color: black; font-size: 50px;">Research Experiences</div>
<div class="section" id="research" style="color: rgb(95, 56, 153);">
    <div class="container">
        <div class="row">
            <!-- First Card - Left Side (1st Row) -->
            <div class="col-md-12">
                <div class="card mb-3">
                    <!-- <div class="card mb-3"> -->
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body" style="padding-left: 40px;">
                                <h2 class="card-title" style="font-family: 'Gilroy';">SENTIMENTAL ANALYSIS AND
                                    CLASSIFICATION OF
                                    COMMENTS ON CONTRASTING YOUTUBE CHANNELS</h2>
                                <div style="font-family: 'Gilroy'; text-align: justify;">
                                    My interest lies in the field of data science, which comprises a wide range of
                                    categories and topics.
                                    Currently, my primary focus is on data, which can be classified into three main
                                    categories:
                                    structured, unstructured, and semi-structured data. Among these categories, I have
                                    chosen to
                                    concentrate on unstructured data for my final MSc research. This research topic has
                                    piqued my interest
                                    the most, and I have learned a great deal in this area. <br> Within unstructured
                                    data, there are
                                    various types, including text, images, voice, and more. From this diverse range of
                                    data, I chose to
                                    focus on text data for my project. LinkedIn is the best platform for staying updated
                                    on the latest
                                    technologies, making it an ideal source for staying informed about recent
                                    developments and the most
                                    current technologies. Through this platform, I've accessed numerous resources
                                    related to my chosen
                                    topic, further enhancing my knowledge and experience.<br>Currently, social media is
                                    the most popular
                                    platform compared to others. It allows us to showcase anything to our audience or
                                    customers at any
                                    time and in any way we choose. On this platform, customer preferences and their
                                    feedback are
                                    invaluable, as these comments and feedback can help determine the popularity of an
                                    item.<br>
                                    For my research, I chose the YouTube platform to assess the popularity of items. YouTube
                                    hosts a wide
                                    range of content, primarily entertainment videos. From this category, I decided to focus on
                                    music
                                    videos. The music category on YouTube encompasses a vast array of music videos, and with my
                                    experience
                                    and knowledge, I selected Sri Lankan music videos as the focus of my project.<br>
                                    This represents the background of my research topic selection. I must say that this topic is
                                    of
                                    personal interest and particularly exciting to me.
                                </div>

                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- First Card - Left Side (1st Row) -->
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="../../assets/images/science.png" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title" style="font-family: 'Gilroy';">SCIENCE E-GLOSSARY</h2>
                                <p style="font-family: 'Gilroy'; text-align: justify;">
                                    A science words dictionary is developed here to search words with meanings in
                                    subjects such as
                                    Physics, Chemistry, Botany, and Zoology, separately. This application is developed
                                    with the
                                    Java Programming Language and My SQL database server. Main features are to choose
                                    the word
                                    category, type the word in text area and to give the English word with its Sinhala
                                    meaning. For
                                    some words, it gives Sinhala meaning and a short description of the word as well.
                                    <br>In my bachelor degree final year I participated Invention and innovation
                                    exihibition, and I earn
                                    the
                                    merit award for this project.<br><br>
                                    I have attached winner list in below.
                                </p>
                                <a
                                    href="https://drive.google.com/file/d/1sQ5uelx7VVeAf7x1l26NjMHKFkdVH6PZ/view?usp=share_link">
                                    winner-list 2015 </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- First Card - Left Side (1st Row) -->
            <div class="col-md-12">
                <div class="card mb-3">
                    <!-- <div class="card mb-3"> -->
                    <!-- <div class="row g-0">
                        <div class="col-md-4">
                            <img
                                src="../../assets/images/shoot.png" alt=""><br><br>
                            <img
                                src="../../assets/images/data.png" alt=""><br><br>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title" style="font-family: 'Gilroy';text-transform: uppercase;">Emotion
                                    Recognition in Gaming: Analyzing Player Responses to Game Events Using CNN
                                    Algorithms</h2>
                                <p class="card-text" style="font-family: 'Gilroy'; text-align: justify; ">
                                    My interest lies in the field of data science, which comprises a wide range of
                                    categories and topics.
                                    Currently, my primary focus is on data, which can be classified into three main
                                    categories:
                                    structured, unstructured, and semi-structured data. Among these categories, I have
                                    chosen to
                                    concentrate on unstructured data for my final MSc research. This research topic has
                                    piqued my interest
                                    the most, and I have learned a great deal in this area. <br> Within unstructured
                                    data, there are
                                    various types, including text, images, voice, and more. From this diverse range of
                                    data, I chose to
                                    focus on text data for my project. LinkedIn is the best platform for staying updated
                                    on the latest
                                    technologies, making it an ideal source for staying informed about recent
                                    developments and the most
                                    current technologies. Through this platform, I've accessed numerous resources
                                    related to my chosen
                                    topic, further enhancing my knowledge and experience.<br>Currently, social media is
                                    the most popular
                                    platform compared to others. It allows us to showcase anything to our audience or
                                    customers at any
                                    time and in any way we choose. On this platform, customer preferences and their
                                    feedback are
                                    invaluable, as these comments and feedback can help determine the popularity of an
                                    item.<br>
                                    <br>
                                    For my research, I chose the YouTube platform to assess the popularity of items.
                                    YouTube hosts a wide
                                    range of content, primarily entertainment videos. From this category, I decided to
                                    focus on music
                                    videos. The music category on YouTube encompasses a vast array of music videos, and
                                    with my experience
                                    and knowledge, I selected Sri Lankan music videos as the focus of my project.<br>
                                    This represents the background of my research topic selection. I must say that this
                                    topic is of
                                    personal interest and particularly exciting to me.
                                </p>

                            </div>
                        </div><br>
                        <p class="card-text" style="font-family: 'Gilroy';text-align: justify; padding-bottom: 80px;">

                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>