.card {
  width: 200px;
  margin: 10px;
}
.skills {
  display: flex;
  justify-content: space-around;
}

.skill-details {
  text-align: center;
  margin-top: 10px; /* Adjust as needed */
}

.skill {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skill-name {
  font-weight: bold;
  color: black;
}

.percentage {
  font-size: 12px; /* Adjust font size as needed */
  color: green; /* Change color to green */
}
