<mat-card id="Home">
    <mat-card-content class="row">
      <!-- Image Column -->  
      <!-- Text Column -->
      <div class="col-md-6 name" data-aos="fade-down">
        <span>
          <span style="color: aliceblue; font-family: 'Gilroy';"> Hi, <div class="wave" data-aos="fade-down">👋🏾</div>  I am </span>
        </span><br><br><br>
        <span data-aos="fade-down" style="color: aliceblue; font-family: 'Gilroy';">Nirodha <br><br><br> Malalagama</span> <br><br><br>
        <span data-aos="fade-down" style="font-family: 'Gilroy';">Software Engineer</span><br><br>
        <span data-aos="fade-down" style="font-family: 'Gilroy'; font-size: small;">&nbsp;  MSc (Pera.) / Bsc (Ruhuna)</span>
      </div>
      <div class="col-md-6" data-aos="fade-up">
        <div class="profile-bg">
          <img style="width: 620px; height: 540px; clip-path: inset(0 0 0 round 0); margin-top:0;border-bottom-right-radius: 250px;" src="../../assets/images/img_1.jpg" alt="">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
