.card {
    flex: 1;
    margin: 10px;
  }
  
  .card img {
    width: 100%;
  }
  
  .card h2,
  .card p {
    font-size: 14px;
  }
  
  @media (max-width: 767px) {
    .card img {
      width: 100%;
    }
  
    .card h2,
    .card p {
      font-size: 14px;
    }
  }