<!-- card.component.html -->
<div class="h4 text-center mb-4 title" id="work" style="font-family: 'Gilroy'; color: black; font-size: 50px;">Work Experiences</div>
<div fxLayout="row" fxLayout.xs="column">
    <mat-card class="card">
      <div class="col-md-12 first">
        <div class="card mb-3" style="border: none;color: aliceblue; text-align: justify;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../assets/images/mine.jpg" alt="" >
            </div>
            <div class="col-md-8">
              <div class="card-body" style="background-color: #6f00ff;border: none; height: 100%;">
                <h2 class="card-title" style="font-family: 'Gilroy';">Nestle Work Journey</h2>
                <p class="card-text" style="font-family: 'Gilroy'; height: auto;">
                  In my life journey, I have encountered various challenges. As a student, after
                  completing my undergraduate degree, I embarked on my career path. I am fortunate to say
                  that my first job ( 2016 - Jan. to 2017 - Apr.), or what can be called an internship,
                  was at Nestle Lanka PLC. I am honored to describe it as a stroke of luck. During this
                  period, I worked in the Industrial Performance Section as an intern.<br><br> During my first job
                  experience, I encountered new concepts and theories related to the industry, including
                  various performance measurement theories. Additionally, I was responsible for machine
                  inspections to assess their efficiency against expected values. This entire experience
                  was profoundly enriching and has left a lasting impact on my life.<br><br><br><br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="card">
      <div class="col-md-12 second" style="align-items: flex-end;">
        <div class="card mb-3" style="border: none;color: aliceblue; text-align: justify;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="../../assets/images/company.jpg" alt="">
            </div>
            <div class="col-md-8" style="background-color: #6f00ff;border: none;">
              <div class="card-body" style="font-family: 'Gilroy';">
                <h2 class="card-title" style="font-family: 'Gilroy';">Professional Evaluation</h2>
                <p class="card-text" style="font-family: 'Gilroy';">
                  After my Nestle internship experience, I worked for several companies from 2016 to 2019.
                  These experiences made me a strong and effective communicator. </p>
                <p style="font-weight: 700;"> - &nbsp;Branix Textile Company (Pvt) Ltd - Customer Assistant
                  (2016 - 2017)<br><br>
                  - &nbsp;&nbsp;&nbsp;HEMAS Manufacturing (Pvt) Ltd - QA Interner &nbsp;&nbsp;&nbsp;(2017
                  - 2018)<br><br>
                  - &nbsp;&nbsp;&nbsp;SML Dualplast (Pvt) Ltd - Data Analyst
                  &nbsp;&nbsp;&nbsp;(2018)<br><br>
                  - OMEGA Garment Manufacturing (Pvt) Ltd - Procument Merchendiser &nbsp;&nbsp;&nbsp;(2018
                  - 2019)<br><br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="card">
        <div class="col-md-12 third">
            <div class="card mb-3" style="border: none;color: aliceblue; text-align: justify;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/images/img_11.jpg" alt="">
                    </div>
                    <div class="col-md-8" style="background-color: #6f00ff;font-family: 'Gilroy';">
                        <div class="card-body" style="font-family: 'Gilroy';">
                            <h2 class="card-title" style="font-family: 'Gilroy';">IT Industry Experience</h2>
                            <p class="card-text">
                                In my work life journey I got several companies experience as a customer service
                                assistant, Quality assurance inspection, data analyst and procurement merchandiser. All
                                these experience great experience for my work life. But I made a highest risk decision
                                in 2019, I resigned the Omega Line company and I want to move IT related job
                                opportunity. In 2019-2020 period lived as a jobless. In this time period I collected
                                knowledge related to that industry and I successfully completed my Master ’s research in
                                that time period. I’m lucky to move IT industry in 2021 as an associate software
                                engineer. Work history is below,
                            </p>
                            <p style="font-weight: 700;"> - &nbsp;Open University Sri Lanka - Associate Software
                                engineer (2021 - 2022)<br><br>
                                - &nbsp;&nbsp;&nbsp;National Intensive Care Surveillance - Software Engineer (2022 - Up
                                to now)<br><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 forth">
            <div class="card mb-3" style="border: none;color: aliceblue; text-align: justify;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../assets/images/fiverr.jpg" alt="">
                    </div>
                    <div class="col-md-8" style="background-color: #6f00ff;">
                        <div class="card-body" style="background-color: #6f00ff;font-family: 'Gilroy';">
                            <h2 class="card-title" style="font-family: 'Gilroy';">Freelancer Work Journey</h2>
                            <p class="card-text" style="font-family: 'Gilroy';">
                                If someone ask how did you obtain experience and knowledge related to you dream job. I
                                can directly show and tell them about fiver. It is my helper. As a software engineer
                                need to concern about technology update then fiver help to collect the knowledge and
                                experience. I joined 2020 to fiver till now I continue my favourite. It is actually
                                hobby now.
                                <br> In below mentioned my sample projects
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>